html,body{
	width: 100%;
	height: 100%;
	background: #f7f7f7;
	position: relative;
}

header{
	width: 100%;
	height: 1.25rem;
	position: fixed;
	left:0;
	top:0;
	background: #fff;
	text-align: center;
	line-height: 1.25rem;
}

header h3{
	display: inline-block;
	font-size: 0.46875rem;
	color: #333333;
}

header a:nth-child(1){
	display:block;
	width: 12px;
	height:100%;
	background: url("../img/icon__12.png") 0 center no-repeat;
	background-size: 0.1875rem;
	margin-left: 20px;
	float:left;
}

header a:nth-child(3){
	display: block;
	height: 100%;
	margin-right: 20px;
	float:right;
	font-size:0.40625rem;
}

.wrap{
	width: 100%;
	height: 100%;
	padding-top: 1.25rem;
	padding-bottom: 2.34375rem;
    overflow-y: auto;
}

.top{
	width: 100%;
	height:2.5rem;
	box-sizing: border-box;
	padding:0 3%; 
	border-top:0.015625rem #eee solid;
	border-bottom:0.015625rem #eee solid;
	background: #fff;
	background-color: #fff;
	margin-bottom: 0.3125rem;
}

.top p{
	color:#333;
	font-size: 0.34375rem;
	line-height: 0.625rem;
	margin-top: 0.15625rem;
}
.top p em{
	margin-left: 0.3125rem;
}
.top span{
	font-size: 0.3125rem;
	color:#a7a7a7;
	line-height: 0.625rem;
}

.top > div{
	width: 100%;
	height: 0.9375rem;
	border-top:0.015625rem #eee solid;	
	line-height: 0.9375rem;
	color:#a7a7a7;
}

.top div span{
	display: block;
	width: 0.40625rem;
	height: 0.40625rem;
	border-radius: 50%;
	border:0.015625rem #a7a7a7 solid;
	box-sizing: border-box;
	float:left;
	margin-top: 0.234375rem;
	margin-right:0.3125rem;
}

.top div span.active{
	background: url("../img/icon__003.png") center center no-repeat;
	background-size: 100%!important;
	border:none!important;
}

.top.active{
	background: url("../img/icon_12_02.png") center bottom no-repeat;
	background-size: 100%;
	background-color: #fff;
}


.top div a,.top div i{
	display: block;
	width: 1.09375rem;
	height: 100%;
	float:right;
	margin-left: 0.3125rem;

}

.top div a{
	background: url("../img/icon_21_03_03.png") center center no-repeat;
	background-size: 100%;
}

.top div i{
	background: url("../img/icon_21_03_05.png") center center no-repeat;
	background-size: 100%;
}